
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: black;
}
header{
    background-color: orangered;
    width: auto;
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnClose{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btnClose a{
    text-decoration: none;
    color: #fff;
}
.btnClose button{
    width: 150px;
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.contEventos{
    width: 600px;
    background-color: rgba(41, 39, 39, 0.733);
    padding: 20px 30px 40px;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
}
.contTareas{
    width: 600px;
    background-color: rgba(41, 39, 39, 0.733);
    padding: 20px 30px 40px;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
}
.container h3{
    margin: 20px;
    color: #fff;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.container select{
    width: 140px;
    margin: 2px;
    height: 35px;
    border: 0;
    outline: none;
    border-radius: 5px;
}
.container input{
    margin: 2px;
    height: 30px;
    background-color: #fff;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: black;
    border-radius: 5px;
}
.crear{
    margin: 5px;
    width: 100px;
    flex-basis: 48%;
    font-size: 18px;
    background-color: orangered;
    color: #fff;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.linea{
    background-color: orangered;
    height: 2px;
    max-width: 540px;
    margin: 30px 30px 40px;
}
.titulo{
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.descripcion{
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.txt{
    color: #929292;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.btnEliminar{
    margin: 5px;
    width: 80px;
    flex-basis: 48%;
    font-size: 18px;
    background-color: rgb(255, 0, 0);
    color: #fff;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.btnEditar{
    margin: 5px;
    width: 70px;
    flex-basis: 48%;
    font-size: 18px;
    background-color: rgb(26, 117, 221);
    color: #fff;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
}


@media (max-width: 425px){
    header{
        background-color: orangered;
        width: auto;
        height: auto;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .container{
        height: auto;
        margin-top: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    .contEventos{
        width: auto;
        background-color: rgba(41, 39, 39, 0.733);
        padding: 20px 30px 40px;
        text-align: center;
        border-radius: 20px;
        margin: 20px;
    }
    .contTareas{
        width: auto;
        background-color: rgba(41, 39, 39, 0.733);
        padding: 20px 30px 40px;
        text-align: center;
        border-radius: 20px;
        margin: 20px;
    }

}
